.home{
    display: flex;
    height: 92vh;
    width: 100%;
    /* background-color: red; */
}
*{
    font-family: 'Roboto', sans-serif;
}

.leftDiv{
    flex: 6;
    /* background-color: black; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin-left: 100px;
    
}
.rightDiv{
    flex:6;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}
.img{
    margin-right: 50px;
    height: 600px;
    width: 900px;
}

.homeHeading1{
    font-size: 40px;
    font-weight: bold;
    color: rgb(138, 105, 255);
    letter-spacing: 3px;
}
.homeHeading2{
    font-size: 40px;
    font-weight: bold;
    color: rgb(138, 105, 255);
    letter-spacing: 2px;
    margin-bottom: 30px;
    /* word-spacing: 1px; */
}
.homeInfo1{
    
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    word-spacing: 2px;
}
.homeInfo2{
    
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    word-spacing: 2px;
    margin-top: 8px;
}
.homeBtn{
    margin-top: 40px;
    background-color: rgb(138, 105, 255);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    padding: 20px 40px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    word-spacing: 3px;
}
.homeBtn:hover{
    color: black;
}